
*{
 margin: 0px;
}


.layout{
width: 100%;
height: 100%;

display: flex;
flex-direction: column;

font-family: 'Fira Sans', sans-serif;
}


/*----------------------------header------------------------------*/
header{

    width: 100%;
    height: 10%;

    

  
    background-color: rgba(207, 207, 207, 0.288);

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    

}

.header-title{
    text-shadow: 5px 5px 5px rgba(134, 134, 134, 0.288);
    font-size: 50px;
    
    padding: 30px;
    position: relative;
    left: 20px;
}



 .header-menu ul > li{
    list-style:none;
    float: left;

    
    padding: 20px;
    margin-left: 10px;

    font-size: 20px;
    color: grey;
    
}

ul >li a{
    
     color: grey;
 }

 .line{
      position: relative;
     top: 30px;

     border-top: 1px solid grey;
     border-block-end: 0px;
    
 }

    .current{
     
     text-decoration-line: underline;
     background-color:  rgba(134, 134, 134, 0.288);
     border-radius: 2px;
    
     
 }




a{
text-decoration: none;
}

a:visited{
    text-decoration: none;
}

a:hover{            /*tillhöt även listan på LINKS-sidan*/
    background: rgba(134, 134, 134, 0.288);
    cursor: pointer;
    border-radius: 2px;
  
    
}

.header-menu a:hover{

  font-size: 30px;

    transition-timing-function: ease-in;
    transition: 1s;
}


/*----------------------------header end------------------------------*/




/*----------------------------MAIN content------------------------------*/


.main > img{

    width: 22%;
    border-radius: 5px;
}

.main{
width: 100%;
height: 50% ;
margin: 20px;
margin-bottom: 200px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.page-title{
    margin: 50px;
    margin-bottom: 70px;
}


/*----------------------------About page------------------------------*/

.content{
    margin-top: 10px;
    width: 20%;
}

/*----------------------------About page end------------------------------*/








/*----------------------------Movie page------------------------------*/

tbody{
    text-align: center;
}

thead th:nth-child(1) {
  width: 30%;
}

thead th:nth-child(2) {
  width: 20%;
}

thead th:nth-child(3) {
  width: 30%;
}

thead th:nth-child(4) {
  width: 35%;
}

th, td
{
  padding: 12px;
}

tbody tr:nth-child(odd) {
  background-color: #8FBC8F;
}

tbody tr:nth-child(even) {
  background-color: rgb(92, 92, 92);
}
/*----------------------------Movie page end------------------------------*/






/*----------------------------Link page------------------------------*/

.main ul>li{
    padding: 10px;
}

.länkar{
    border: 1px solid black;
}


/*----------------------------Link page end------------------------------*/






/*----------------------------Contact page------------------------------*/

.input{
    margin: 20px;
}

button{
    border: none;
    border-radius: 2px;
}

button:hover{
    cursor: pointer;
    background-color: rgb(134, 134, 134);
}
/*----------------------------Contact page end------------------------------*/









/*----------------------------MAIN content end------------------------------*/







/*----------------------------Footer------------------------------*/


footer{
width: 100%;
height: 40%;

background-color: rgba(207, 207, 207, 0.288);
display: flex;
flex-direction: row;
align-items: center;
}

footer ul >li{
padding: 6px;

list-style: none;

}

footer ul{
    padding: 100px; 
}

/*----------------------------Footer end------------------------------*/
